name: Test reconstruction sequence

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        shell: bash
        run: |
          rm -rf *
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh
          

          
  flow:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Create flow
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          python run_tasks.py


  create_task_one:
    runs-on: ubuntu-latest
    needs: flow
    steps:
      - name: Create task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run task -t $PWD/local_tasks/flow.json -i 0 --dry-run
    

  run_task_one:
    runs-on: ubuntu-latest
    needs: create_task_one
    steps:
      - name: Run task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run job -i $PWD/local_tasks/tasks/task_1/jobs/inputs/job_0.json -o $PWD/local_tasks/tasks/task_1/works/job_0
          maestro run job -i $PWD/local_tasks/tasks/task_1/jobs/inputs/job_1.json -o $PWD/local_tasks/tasks/task_1/works/job_1

    
  check_task_one:
    runs-on: ubuntu-latest
    needs: run_task_one
    steps:
      - name: Check task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run next -t $PWD/local_tasks/flow.json -i 0 --dry-run

  create_task_two:
    runs-on: ubuntu-latest
    needs: check_task_one
    steps:
      - name: Create task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run task -t $PWD/local_tasks/flow.json -i 1 --dry-run

 
  run_task_two:
    runs-on: ubuntu-latest
    needs: create_task_two
    steps:
      - name: Run task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run job -i $PWD/local_tasks/tasks/task_2/jobs/inputs/job_0.json -o $PWD/local_tasks/tasks/task_2/works/job_0
          maestro run job -i $PWD/local_tasks/tasks/task_2/jobs/inputs/job_1.json -o $PWD/local_tasks/tasks/task_2/works/job_1

    
  check_task_two:
    runs-on: ubuntu-latest
    needs: run_task_two
    steps:
      - name: Check task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd ci_test/flow 
          maestro run next -t $PWD/local_tasks/flow.json -i 1 --dry-run

