name: Maestro Flow Test

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        shell: bash
        run: |
          mkdir /tmp/flow_test
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh
          cp -r ci_test/flow/* /tmp/flow_test 

      - name: Zip folder artifact
        shell: bash
        run: |
          zip -r /tmp/flow_test.zip /tmp/flow_test


      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test.zip
          include-hidden-files: true

  flow:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test.zip
      
      - name: Unzip folder artifact
        shell: bash
        run: |
          unzip /tmp/flow_test.zip -d /tmp/

      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Create flow
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          ls -lisah
          python run_tasks.py

      - name: Zip folder artifact
        shell: bash
        run: |
          zip -r /tmp/flow_test.zip /tmp/flow_test

      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test.zip
          overwrite: true 
          include-hidden-files: true



  create_task_one:
    runs-on: ubuntu-latest
    needs: flow
    steps:

      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Create task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          ls -lisah
          maestro run task -t $PWD/local_tasks/flow.json -i 0 --dry-run

      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true


    

  run_task_one:
    runs-on: ubuntu-latest
    needs: create_task_one
    steps:

      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Run task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          maestro run job -i /tmp/flow_test/local_tasks/tasks/task_1/jobs/inputs/job_0.json -o /tmp/flow_test/local_tasks/tasks/task_1/works/job_0
          maestro run job -i /tmp/flow_test/local_tasks/tasks/task_1/jobs/inputs/job_1.json -o /tmp/flow_test/local_tasks/tasks/task_1/works/job_1

      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true


  check_task_one:
    runs-on: ubuntu-latest
    needs: run_task_one
    steps:
      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Check task one
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          ls -lisah
          maestro run next -t /tmp/flow_test/local_tasks/flow.json -i 0 --dry-run

      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true

    

  create_task_two:
    runs-on: ubuntu-latest
    needs: check_task_one
    steps:
      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Create task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          ls -lisah
          ls -lisah local_tasks
          ls -lisah local_tasks/datasets
          ls -lisah local_tasks/datasets/*/*
          ls -lisah local_tasks/tasks
          maestro run task -t /tmp/flow_test/local_tasks/flow.json -i 1 --dry-run

      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true


 
  run_task_two:
    runs-on: ubuntu-latest
    needs: create_task_two
    steps:
      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Run task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          maestro run job -i /tmp/flow_test/local_tasks/tasks/task_2/jobs/inputs/job_0.json -o /tmp/flow_test/local_tasks/tasks/task_2/works/job_0
          maestro run job -i /tmp/flow_test/local_tasks/tasks/task_2/jobs/inputs/job_1.json -o /tmp/flow_test/local_tasks/tasks/task_2/works/job_1


      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true



    
  check_task_two:
    runs-on: ubuntu-latest
    needs: run_task_two
    steps:
      - name: Download the shared folder artifact
        uses: actions/download-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test
          include-hidden-files: true
      
      - name: Install repository
        shell: bash
        run: |
          pip install virtualenv
          git clone https://github.com/lps-ufrj-br/maestro-lightning.git
          cd maestro-lightning && source activate.sh

      - name: Check task two
        shell: bash
        run: |
          cd maestro-lightning && source activate.sh
          cd /tmp/flow_test
          ls -lisah
          maestro run next -t $PWD/local_tasks/flow.json -i 1 --dry-run


      - name: Upload the folder as artifact 
        uses: actions/upload-artifact@v4
        with:
          name: flow_test_artifact
          path: /tmp/flow_test 
          overwrite: true 
          include-hidden-files: true



